<% @users.each do |user| %>
  <div class="container" style="padding-top: 10px;">
    <div class="row">
      <div class="col-md-9 bg-white">
        <div class="media">
          <div class="media-left">
            <%= image_tag("pen") %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= user.name %></h4>
            <h4><%= link_to user.email, user %></h4>

            <%= form_for(user) do |f| %>
             <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
             <td>
             <%= f.submit 'Change Role', class: "btn btn-danger" %>
             </td>
           <% end %>
           <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button') unless user == current_user %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
