<script>
  /* script fix turbolinks not resizing main and sidebar */
  $('.root-main').height($('.root-sidebar').height());
  $(document).ready(function(){
    $('.root-main').height($('.root-sidebar').height());
  });
</script>

<div class="container">
<div class="row">
    <div class="col-md-8 bg-white root-main">
                 <h4>Welcome</h4>
                 <hr>
                 <% if @user.courses.count == 0 %>
                   <h4 class="font-2 alert-info">Enroll in some courses.</h4>
                 <% else %>
                   <h4 class="font-2 alert-success">Start learning by clicking Start Lesson.</h4>
                <% end %>
    </div>

    <div class="col-md-3 col-md-offset-1 bg-white root-sidebar">
              <h4>Courses</h4>
              <ul class="list-group">
                 <% Course.all.each do |course| %>
                   <li class="list-group-item">
                     <p class="font-3"><%= course.title %></p>
                     <%= button_to 'Enroll', enrollments_path(course_id: course) %>
                   </li>
                 <% end %>
              </ul>
      </div>
    </div>
</div>

<% if @user.courses.count != 0 %>
  <div class="container">
    <h1 class="font-1">Your Courses</h1>
  </div>

  <% @user.courses.each do |course| %>
    <div class="container">
      <div class="row" style="margin-top: 10px;">
        <!-- begin course panels -->
        <div class="col-md-8 bg-white">
          <div class="media">
            <div class="media-left">
                <%= image_tag("badge") %>
            </div>
            <div class="media-body">
              <h3 class="media-heading font-1"><%= course.title %></h3>
              <p class="font-3"><%= course.description %><p>
              <p class="font-2"><%= link_to "Start Lesson", course_path(course) %><p>
              <% if current_user.admin? %>
                <%= link_to 'Delete', enrollment_path(course_id: course), method: :delete %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- end course panels -->
      </div>
    </div>
  <% end %>
<% end %>
