<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset2">
        <p>
          <strong>Title:</strong>
          <%= @lesson.title %>
        </p>

        <p>
          <strong>Content:</strong>
          <%= raw @lesson.content %>
        </p>

        <p>
          <strong>Locked?:</strong>
          <%= @lesson.locked? %>
        </p>

        <p>
          <strong>Course:</strong>
          <%= @lesson.course.title %>
        </p>

        <%= link_to 'Edit', edit_course_lesson_path(@course, @lesson) %> |
        <%= link_to 'Back', course_lessons_path %>
    </div>
  </div>
</div>
