    <%= form_for(@course) do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
          <% @course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "field-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "field-control" %>
      </fieldset>

       <fieldset class="form-group">
        <h4>Lesson</h4>
        <hr>
        <%= f.fields_for :lesson do |lesson_fields| %>
          <fieldset class="form-group">
            <%= f.label :title %><br>
            <%= lesson_fields.text_field :title, class: "field-control" %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.label :content %><br>
            <%= lesson_fields.text_area :content, class: "field-control" %>
          </fieldset>
        <% end %>
      </fieldset>

      <div class="actions">
        <%= f.submit 'Create Course', class: "btn btn-primary" %>
      </div>
    <% end %>
