<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset2">
      <p>
        <strong>Title:</strong>
        <%= @course.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>

      <p>
        <strong>lessons:</strong>
        <% @course.lessons.each do |lesson| %>
           <%= lesson.title %>
        <% end %>
      </p>
      <%= link_to 'Edit', edit_course_path(@course) %> |
      <%= link_to 'Back', courses_path %>
   </div>
  </div>
</div>
